META_ACCESS_TOKEN=replace_with_long_lived_or_system_user_token
META_AD_ACCOUNT_ID=act_1234567890
META_GRAPH_VERSION=v21.0
META_DATE_PRESET=last_30d
META_MAX_PAGES=6
APP_BASIC_AUTH_USER=pmc
APP_BASIC_AUTH_PASSWORD=replace_with_temporary_password
